@page "/"

@* <div id="main"> *@
<section id="hero" class="hero hero-3">
    <div class="front-content page-enter-animated">
        <div class="container-mid selection selection-1">
            <div class="inner">
                <div class="container choose-hero-container">
                    <h1>မြန်မာလများ</h1>
                    @* <div class="dropd">
                    <div class="dropdown">
                    <div class="title">LOGO</div>
                    @* <div class="dropdown-menu">
                    <ul>
                    <li id="hero-logo" data-bindedHtml="index-2.html">LOGO</li>
                    <li id="hero-text" data-bindedHtml="index-1.html">TEXT</li>
                    <li id="hero-slider-text" data-bindedHtml="index-3.html">TEXT SLIDER</li>
                    <li id="hero-slider-image" data-bindedHtml="index-4.html">IMAGE SLIDER</li>
                    <li id="hero-slider-revolution" data-bindedHtml="index-5.html">
                    SLIDER
                    REVOLUTION
                    </li>
                    </ul>
                    </div>
                    </div>
                    </div> *@
                    <div class="heros-container">
                        @* <div class="tab-pane allow-selecting" data-orderedTo="hero-text">
                        <img src="themes/images/months/logo.jpg" alt="Myanmar Months"
                        class="img-responsive hero-showcase">
                        <div class="inner-container">
                        <div class="container-mid"> <span class="ti-arrow-right"></span> </div>
                        </div>
                        </div> *@
                        <div class="tab-pane allow-selecting active" data-orderedTo="hero-logo">
                            <img src="themes/images/months/logo.jpg" alt="Myanmar Months"
                                 class="img-responsive hero-showcase">
                            <div class="inner-container">
                                <div class="container-mid"> <span class="ti-arrow-right"></span> </div>
                            </div>
                        </div>
                        @* <div class="tab-pane allow-selecting" data-orderedTo="hero-slider-text">
                        <img src="themes/images/months/logo.jpg" alt="Myanmar Months"
                        class="img-responsive hero-showcase">
                        <div class="inner-container">
                        <div class="container-mid"> <span class="ti-arrow-right"></span> </div>
                        </div>
                        </div>
                        <div class="tab-pane allow-selecting" data-orderedTo="hero-slider-image">
                        <img src="themes/images/months/logo.jpg" alt="Myanmar Months"
                        class="img-responsive hero-showcase">
                        <div class="inner-container">
                        <div class="container-mid"> <span class="ti-arrow-right"></span> </div>
                        </div>
                        </div>
                        <div class="tab-pane" data-orderedTo="hero-slider-revolution">
                        <a href="demo/index-5.html" target="_blank">
                        <img src="themes/images/months/logo.jpg"
                        alt="Myanmar Months" class="img-responsive hero-showcase">
                        <div class="inner-container">
                        <div class="container-mid"> <span class="ti-new-window"></span> </div>
                        </div>
                        </a>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
        <div class="container-mid selection selection-2">
            <div class="inner">
                <div class="container choose-background-container">
                    <div class="topline">
                        <span class="ti-arrow-left button-back"></span>
                        <h1>မြန်မာလအသေးစိတ်များ</h1>
                    </div>
                    <div class="grid">
                        <div class="owl-carousel owl-theme">
                            <div class="item text-center">
                                <a href="demo/index-2.html?bg=kenburns"
                                   target="_blank" data-bg="kenburns">
                                    <div class="container-mid">
                                        <h2>တန်ခူး</h2> <span class="ti-align-left"></span>
                                    </div><img src="themes/images/flowers/1.jpg" alt="background"
                                               class="img-responsive">
                                </a>
                            </div>
                            <div class="item text-center">
                                <a href="demo/index-2.html?bg=waves" target="_blank"
                                   data-bg="waves">
                                    <div class="container-mid">
                                        <h2>ကဆုန်</h2> <span class="ti-align-left"></span>
                                    </div><img src="themes/images/flowers/2.jpg" alt="background"
                                               class="img-responsive">
                                </a>
                            </div>
                            <div class="item text-center">
                                <a href="demo/index-2.html?bg=youtube"
                                   target="_blank" data-bg="youtube">
                                    <div class="container-mid">
                                        <h2>နယုန်</h2> <span class="ti-align-left"></span>
                                    </div><img src="themes/images/flowers/3.jpg" alt="background"
                                               class="img-responsive">
                                </a>
                            </div>
                            <div class="item text-center">
                                <a href="demo/index-2.html?bg=space" target="_blank"
                                   data-bg="space">
                                    <div class="container-mid">
                                        <h2>ဝါဆို</h2> <span class="ti-align-left"></span>
                                    </div><img src="themes/images/flowers/4.jpg" alt="background"
                                               class="img-responsive">
                                </a>
                            </div>
                            <div class="item text-center">
                                <a href="demo/index-2.html?bg=slider" target="_blank"
                                   data-bg="slider">
                                    <div class="container-mid">
                                        <h2>ဝါခေါင်</h2> <span class="ti-align-left"></span>
                                    </div><img src="themes/images/flowers/5.jpg" alt="background"
                                               class="img-responsive">
                                </a>
                            </div>
                            <div class="item text-center">
                                <a href="demo/index-2.html?bg=glitch" target="_blank"
                                   data-bg="glitch">
                                    <div class="container-mid">
                                        <h2>တော်သလင်း</h2> <span class="ti-align-left"></span>
                                    </div><img src="themes/images/flowers/6.jpg" alt="background"
                                               class="img-responsive">
                                </a>
                            </div>
                            <div class="item text-center">
                                <a href="demo/index-2.html?bg=abstract"
                                   target="_blank" data-bg="abstract">
                                    <div class="container-mid">
                                        <h2>သီတင်းကျွတ်</h2> <span class="ti-align-left"></span>
                                    </div><img src="themes/images/flowers/7.jpg" alt="background"
                                               class="img-responsive">
                                </a>
                            </div>
                            <div class="item text-center">
                                <a href="demo/index-2.html?bg=sphere" target="_blank"
                                   data-bg="sphere">
                                    <div class="container-mid">
                                        <h2>တန်ဆောင်မုန်း</h2> <span class="ti-align-left"></span>
                                    </div><img src="themes/images/flowers/8.jpg" alt="background"
                                               class="img-responsive">
                                </a>
                            </div>
                            <div class="item text-center">
                                <a href="demo/index-2.html?bg=image" target="_blank"
                                   data-bg="image">
                                    <div class="container-mid">
                                        <h2>နတ်တော်</h2> <span class="ti-align-left"></span>
                                    </div><img src="themes/images/flowers/9.jpg" alt="background"
                                               class="img-responsive">
                                </a>
                            </div>
                            <div class="item text-center">
                                <a href="demo/index-2.html?bg=mesh" target="_blank"
                                   data-bg="mesh">
                                    <div class="container-mid">
                                        <h2>ပြာသို</h2> <span class="ti-align-left"></span>
                                    </div><img src="themes/images/flowers/10.jpg" alt="background"
                                               class="img-responsive">
                                </a>
                            </div>
                            <div class="item text-center">
                                <a href="demo/index-2.html?bg=gradient"
                                   target="_blank" data-bg="gradient">
                                    <div class="container-mid">
                                        <h2>တပို့တွဲ</h2> <span class="ti-align-left"></span>
                                    </div><img src="themes/images/flowers/11.jpg" alt="background"
                                               class="img-responsive">
                                </a>
                            </div>
                            <div class="item text-center">
                                <a href="demo/index-2.html?bg=color" target="_blank"
                                   data-bg="color">
                                    <div class="container-mid">
                                        <h2>တပေါင်း</h2> <span class="ti-palette"></span>
                                    </div><img src="themes/images/flowers/12.jpg" alt="background"
                                               class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background-content page-enter-animated">
        <div class="level-1">
            <div class="bg-overlay"></div>
        </div>
        <div class="level-2">
            <div class="bg-image"></div>
        </div>
    </div>
</section>
@* </div> *@