@page "/"

@* <div id="main"> *@
<section id="hero" class="hero hero-3">
    <div class="front-content page-enter-animated">
        <div class="container-mid selection selection-1">
            <div class="inner">
                <div class="container choose-hero-container">
                    <h1>မြန်မာလများ</h1>
                    @* <div class="dropd">
                    <div class="dropdown">
                    <div class="title">LOGO</div>
                    @* <div class="dropdown-menu">
                    <ul>
                    <li id="hero-logo" data-bindedHtml="index-2.html">LOGO</li>
                    <li id="hero-text" data-bindedHtml="index-1.html">TEXT</li>
                    <li id="hero-slider-text" data-bindedHtml="index-3.html">TEXT SLIDER</li>
                    <li id="hero-slider-image" data-bindedHtml="index-4.html">IMAGE SLIDER</li>
                    <li id="hero-slider-revolution" data-bindedHtml="index-5.html">
                    SLIDER
                    REVOLUTION
                    </li>
                    </ul>
                    </div>
                    </div>
                    </div> *@
                    <div class="heros-container">
                        @* <div class="tab-pane allow-selecting" data-orderedTo="hero-text">
                        <img src="themes/images/months/logo.jpg" alt="Myanmar Months"
                        class="img-responsive hero-showcase">
                        <div class="inner-container">
                        <div class="container-mid"> <span class="ti-arrow-right"></span> </div>
                        </div>
                        </div> *@
                        <div class="tab-pane allow-selecting active" data-orderedTo="hero-logo">
                            <img src="themes/images/months/logo.jpg" alt="Myanmar Months"
                                 class="img-responsive hero-showcase">
                            <div class="inner-container">
                                <div class="container-mid"> <span class="ti-arrow-right"></span> </div>
                            </div>
                        </div>
                        @* <div class="tab-pane allow-selecting" data-orderedTo="hero-slider-text">
                        <img src="themes/images/months/logo.jpg" alt="Myanmar Months"
                        class="img-responsive hero-showcase">
                        <div class="inner-container">
                        <div class="container-mid"> <span class="ti-arrow-right"></span> </div>
                        </div>
                        </div>
                        <div class="tab-pane allow-selecting" data-orderedTo="hero-slider-image">
                        <img src="themes/images/months/logo.jpg" alt="Myanmar Months"
                        class="img-responsive hero-showcase">
                        <div class="inner-container">
                        <div class="container-mid"> <span class="ti-arrow-right"></span> </div>
                        </div>
                        </div>
                        <div class="tab-pane" data-orderedTo="hero-slider-revolution">
                        <a href="demo/index-5.html" target="_blank">
                        <img src="themes/images/months/logo.jpg"
                        alt="Myanmar Months" class="img-responsive hero-showcase">
                        <div class="inner-container">
                        <div class="container-mid"> <span class="ti-new-window"></span> </div>
                        </div>
                        </a>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
        <div class="container-mid selection selection-2">
            <div class="inner">
                <div class="container choose-background-container">
                    <div class="topline">
                        <span class="ti-arrow-left button-back"></span>
                        <h1>မြန်မာလအသေးစိတ်များ</h1>
                    </div>
                    <div class="grid">
                        <div class="owl-carousel owl-theme">
                            @if (_months is not null)
                            {
                                foreach (var month in _months)
                                {
                                    string url = $"/{month.Id}";

                                    <div class="item text-center">
                                        <a href="@url" data-bg="kenburns">
                                            @* <NavLink Href="@url" data-bg="kenburns"> *@
                                            <div class="container-mid">
                                                <h2>@month.MonthMm</h2>
                                                <span class="ti-align-left"></span>
                                            </div><img src="themes/images/flowers/@(month.Id).jpg" alt="background" class="img-responsive">
                                            @* </NavLink> *@
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background-content page-enter-animated">
        <div class="level-1">
            <div class="bg-overlay"></div>
        </div>
        <div class="level-2">
            <div class="bg-image"></div>
        </div>
    </div>
</section>
@* </div> *@