@page "/{Id:int}"

<style>
    .hero .front-content .container-mid {
        overflow: hidden;
    }
</style>
@if (_monthDetail is not null)
{
    <section id="hero" class="hero hero-2">
        <div class="front-content page-enter-animated">
            <div class="container-mid">
                <div class="inner 3d-hover">
                    @* <img class="img-responsive logo" src="themes/images/logo-hero.png" alt="logo"> *@
                    <h1 style="line-height: normal;">@_monthDetail.MonthMm</h1>
                </div>
            </div>
            <div class="scroll-down"></div>
            <div class="controls"> <i class="volume-button fa fa-volume-up"></i> <i class="pause-button ti-control-pause"></i> </div>
        </div>
        <div class="background-content page-enter-animated">
            <div class="level-1">
                <div class="bg-overlay"></div>
                <div class="bg-pattern"></div>
                <div id="canvas">
                    <canvas class="bg-effect layer" data-depth="0.2"></canvas>
                </div>
            </div>
            <div class="level-2">
                <div class="dzsparallaxer auto-init allbody" data-options="{mode_scroll: 'fromtop', animation_duration: '2' , direction: 'reverse'}">
                    <div class="dzsparallaxer--target">
                        <div class="bg-image layer" data-depth="0.04"></div>
                        <div class="bg-video layer" data-depth="0.04"></div>
                        <div class="bg-color layer" data-depth="0.04"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="content bg-white block-about-1 padding-top-140 padding-bot-130">
            <div class="container text-left">
                <div class="header text-center scroll-animated-from-bottom">
                    <h1>About</h1>
                </div>
                <div class="row padding-top-50">
                    <div class="col-sm-6">
                        <img class="img-responsive scroll-animated-from-bottom" src="assets/images/about/1.jpg" alt="image">
                        <p class="scroll-animated-from-bottom"> Ut populo accusata qualisque his. Enim debitis forensibus vel ut, wisi iuvaret temporibus eu duo. Sonet ullamcorper mel ad, cu apeirian omittantur persequeris vis, ex veri definiebas ius. Pericula vituperata disputationi eu cum, et quo movet possim definiebas. Diam legendos assueverit at quo, te mea erat dolor qualisque, amet alia consulatu in eum. An modus ipsum suavitate mel, ea per simul iracundia. At sea debet voluptua inimicus, quando possim molestiae qui no. Ut docendi nominati repudiare usu. </p>
                        <div class="container-video scroll-animated-from-bottom"> <a class="cbp-lightbox" href="https://vimeo.com/109777877"> <span class="ti-control-play"></span> </a> <img class="img-responsive" src="assets/images/about/2.jpg" alt="image"> </div>
                    </div>
                    <div class="col-sm-6">
                        <h3 class="scroll-animated-from-bottom"> We create experiences<br>that transform brands<br>and grow businesses.<br></h3>
                        <p class="scroll-animated-from-bottom"> Lorem ipsum dolor sit amet, pri quodsi deserunt ea, vide omnes eum ad. Ex denique dissentiunt ullamcorper has. His nemore luptatum facilisi ne, at vis docendi aliquando, sea te eius laoreet eleifend. Usu modo quando propriae ea. Quaestio molestiae eos id, prompta luptatum scripserit ad eam, in nec vide imperdiet. Veniam soluta mentitum vel at. </p>
                        <img class="img-responsive scroll-animated-from-bottom" src="assets/images/about/3.jpg" alt="Edit me">
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@code {
   
}